apiVersion: networking.k8s.io/v1

kind: Ingress

metadata:

  name: ingress-sockshop
  namespace: sock-shop
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: fqdnOfSockShopFrontEnd
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: front-end
                port:
                  number: 80
  tls:
  - hosts:
      - fqdnOfSockShopFrontEnd
    secretName: sock-shop/sockshop
